*{
	box-sizing:border-box;
	}
h1{
	font-family: algerian;
	font-size: 75px;
	margin:45px 45px 45px 45px;
	text-align: center;
	color: black;
	text-decoration: underline;
}
body{
	background-color: gainsboro;
}

 h2{
	color: darkblue;
	font-weight: bold;
	font-size: 25px;
	font-family: constantia;
	margin-top: 0%;
	border:1px solid black;
	margin-left:auto;
	margin-right:0%;
	width: fit-content;
	margin-bottom: 10px;
	}
	section{
		background-color: antiquewhite;
		border:1px solid black;
		height: 280px;
		margin:30px 30px 30px 30px;
	}
	.section1 h2{
		background-color: greenyellow;
	}
	.sect{
	
		width: 100%;
	}
	.section2 h2{
		background-color: pink;
	}
	.Section3 h2{
		background-color: cornflowerblue;
	}
	p{
	
	margin-left: 10px;
	width:95%;
	height:210px;
	margin:10px 10px 10px 10px;
	}

/*******LARGE DEVICES ONLY ******/
@media(min-width: 1200px){
	.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{
		float:left;
		
	}
	.col-lg-1{
		width:8.33%;
	}
	.col-lg-2{
		width: 16.66%;
	}
	.col-lg-3{
		width: 25%;
	}
	.col-lg-4{
		width: 33%;
	}
	.col-lg-5{
		width: 41.66%;
	}
	.col-lg-6{
		width: 50%;
	}
	.col-lg-7{
		width: 58.33%;
	}
	.col-lg-8{
		width: 66.66%;
	}
	.col-lg-9{
		width: 74.99%;
	}
	.col-lg-10{
		width: 83.33%;
	}
	.col-lg-11{
		width: 91.66%;
	}
	.col-lg-12{
		width: 100%;
	}
}

/****Medium Devices only******/
@media(min-width: 950px) and (max-width: 1199px){
	.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{
		float:left;
		
	}
	.col-md-1{
		width: 8.33%;
	}
	.col-md-2{
		width: 16.66%;
	}
	.col-md-3{
		width: 25%;
	}
	.col-md-4{
		width: 33%;
	}
	.col-md-5{
		width: 41.66%;
	}
	.col-md-6{
		width: 50%;
	}
	.col-md-7{
		width: 58.33%;
	}
	.col-md-8{
		width: 66.66%;
	}
	.col-md-9{
		width: 74.99%;
	}
	.col-md-10{
		width: 83.33%;
	}
	.col-md-11{
		width: 91.66%;
	}
	.col-md-12{
		width: 100%;
	}
}